.subbar {
  z-index: -1;
  background-color: var(--modebar-background);
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 300ms ease-out;
  animation: dropDown 300ms ease-out;
}

.subbar ul {
  display: flex;
  gap: 9rem;
}

.subbar ul li {
  cursor: pointer;
}

.selected {
  color: var(--modebar-selected);
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
